/*** layout ***/

body, html {
    font-family: verdana;
    font-size: 12px;
    line-height:20px;
    color: #333;
    background-color: #FEFEFE;
    margin: 0;
    text-rendering: optimizeLegibility;
}
a {
    color: #3399FF;
    text-decoration: none;
}
code {
    padding: 1px 3px;
    color: #D14;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 5px;
}
h2 {
    display: inline-block;
}
.no-margin-top {
    margin-top: 0px;
}
/*** content ***/
#plugin-name {
    padding-bottom: 30px;
    font-size: 24px;
    border-bottom: solid #CACACA 1px;
}
#github-button {
    display: block;
    float: left;
    margin-right: 2px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url('./img/addthis-github.png');
}
#addthis-toolbox {
    position: absolute;
    right: 15px;
    top: 40px;
}
#content {
    position: relative;
    max-width: 728px;
    padding: 20px;
    margin: 30px auto;

}
.content-box {
    padding-left: 10px;
}
#content ul {
    padding-left: 30px;
}

