@charset "UTF-8";
  .m-Marquee{ width:450px;  overflow:hidden; position:relative;  border:1px solid #ccc; margin: 50px auto;
    .hd{height:30px; background:#f4f4f4; padding:0 10px;
      .prev,.next{display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
        cursor:pointer; background:url("../images/arrow.png") no-repeat;}
      .next{ background-position:0 -50px;  }
      .prevStop{ background-position:-60px 0; }
      .nextStop{ background-position:-60px -50px; }
    }
    .bd{
      padding: 10px;
      ul{
        li{margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;
          .pic{text-align:center;
            img{width:120px; height:90px; display:block; padding:2px; border:1px solid #ccc;}
            a:hover img{ border-color:#999;  }
          }
          .title{ line-height:24px;   }
        }
      }

    }

  }