* {
    margin: 0;
    padding: 0;
}
.box {
    padding: 1rem;
    background-color: LightBlue;
    font-family: sans-serif;
}
.box .content {
    height: 5rem;
    line-height: 5rem;
    font-size: 1rem;
    text-align: center;
    background-color: LightGreen;
}