@charset "utf-8";
//.wheel-bg{background:#00b4ff;}
html,body{height: 100%;}
.m-wheel{ width: 100%;height:100%; background:#00b4ff url("../images/wheel.jpg") no-repeat; background-size: 100%; padding-top: 6.15rem; overflow: hidden;
  .wheel-area{ text-align: center; width: 100%;height: 14.5rem;padding-top: 0.425rem;position: relative;
    img.wheel{width: 14.5rem;height: 14.5rem;
      animation-duration: 6000ms;
      animation-timing-function: cubic-bezier(0.100, 0.600, 0.700, 1);
      animation-fill-mode: forwards;


      -webkit-animation-duration: 6000ms;
      -webkit-animation-timing-function: cubic-bezier(0.100, 0.600, 0.700, 1);
      -webkit-animation-fill-mode: forwards;
      &.wheel2{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
      }



      &.spin{

        animation-name:spin;
        -webkit-animation-name:spin;

        transform:rotate(1820deg);
        -webkit-transform:rotate(1820deg);
      }
      &.spin2{
        animation-name:spin2;
        -webkit-animation-name:spin2;
      }
      &.spin3{
        animation-name:spin3;
        -webkit-animation-name:spin3;
      }
      &.spin4{
        animation-name:spin4;
        -webkit-animation-name:spin4;
      }
      &.spin5{
        animation-name:spin5;
        -webkit-animation-name:spin5;
      }
      &.spin6{
        animation-name:spin6;
        -webkit-animation-name:spin6;
      }
      &.spin7{
        animation-name:spin7;
        -webkit-animation-name:spin7;
      }
      &.spin8{
        animation-name:spin8;
        -webkit-animation-name:spin8;
      }
      &.spin9{
        animation-name:spin9;
        -webkit-animation-name:spin9;
      }

    }
    img.arrow{position: absolute;left: 7.20rem;top: 0;width: 1.5rem;height: 2.525rem; z-index: 2;

    }
    img.start{position: absolute;left: 5.65rem;top:5.25rem;width:4.625rem;height: 4.625rem; z-index: 2;}
    .pupop{width: 12.4rem; height: 14.75rem; position: absolute; background: url("../images/tan.png") no-repeat; background-size: 100%; left:1.8rem; z-index: 3; top:-0.5rem; display: none;
      img{position: absolute;left:1.2rem;top:7.35rem; width: 4.75rem; height: 5.75rem; }
      .content{ position: absolute;left: 6.3rem; bottom:3rem; color:#fff; width:4.6rem;
        p{font-size:0.5rem; line-height: 0.6rem;height: 0.6rem; font-family: '宋体';
          &.text-center{text-align: center;}
        }
      }
      .close{position: absolute;width: 2rem;height: 2rem; right: 0.5rem;top:4.8rem;}
    }

  }
  .chart{margin-top: 1.2rem;margin-left:5rem; width: 9rem;height:2.2rem;
    a{display: block;width: 100%;height: 100%;text-indent: -9999px;}
  }
}
//  @include rotateList();
//1
@keyframes spin{
  from{ transform: scale(1) rotate(0);}
  to{transform: scale(1) rotate(1820deg);}
}
@-webkit-keyframes spin{
  from{-webkit-transform: scale(1) rotate(0);}
  to{ -webkit-transform: scale(1) rotate(1820deg);}
}
//2

@keyframes spin2{
  from{ transform: scale(1) rotate(0);}
  to{transform: scale(1) rotate(1860deg);}
}
@-webkit-keyframes spin2{
  from{-webkit-transform: scale(1) rotate(0);}
  to{ -webkit-transform: scale(1) rotate(1860deg);}
}
//3
@keyframes spin3{
  from{ transform: scale(1) rotate(0);}
  to{transform: scale(1) rotate(1900deg);}
}
@-webkit-keyframes spin3{
  from{-webkit-transform: scale(1) rotate(0);}
  to{ -webkit-transform: scale(1) rotate(1900deg);}
}
//4
@keyframes spin4{
  from{ transform: scale(1) rotate(0);}
  to{transform: scale(1) rotate(1940deg);}
}
@-webkit-keyframes spin4{
  from{-webkit-transform: scale(1) rotate(0);}
  to{ -webkit-transform: scale(1) rotate(1940deg);}
}
//5
@keyframes spin5{
  from{ transform: scale(1) rotate(0);}
  to{transform: scale(1) rotate(1970deg);}
}
@-webkit-keyframes spin5{
  from{-webkit-transform: scale(1) rotate(0);}
  to{ -webkit-transform: scale(1) rotate(197+0deg);}
}
//6
@keyframes spin6{
  from{ transform: scale(1) rotate(0);}
  to{transform: scale(1) rotate(2020deg);}
}
@-webkit-keyframes spin6{
  from{-webkit-transform: scale(1) rotate(0);}
  to{ -webkit-transform: scale(1) rotate(2020deg);}
}
//7
@keyframes spin7{
  from{ transform: scale(1) rotate(0);}
  to{transform: scale(1) rotate(2060deg);}
}
@-webkit-keyframes spin7{
  from{-webkit-transform: scale(1) rotate(0);}
  to{ -webkit-transform: scale(1) rotate(2060deg);}
}
//8
@keyframes spin8{
  from{ transform: scale(1) rotate(0);}
  to{transform: scale(1) rotate(2100deg);}
}
@-webkit-keyframes spin8{
  from{-webkit-transform: scale(1) rotate(0);}
  to{ -webkit-transform: scale(1) rotate(2100deg);}
}

@keyframes spin9{
  from{ transform: scale(1) rotate(0);}
  to{transform: scale(1) rotate(2140deg);}
}
@-webkit-keyframes spin9{
  from{-webkit-transform: scale(1) rotate(0);}
  to{ -webkit-transform: scale(1) rotate(2140deg);}
}



