@charset "UTF-8";
/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left;
  font-weight: normal; }

html, body, fieldset, img, iframe, abbr {
  border: 0; }

i, cite, em, var, address, dfn {
  font-style: normal; }

[hidefocus], summary {
  outline: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%; }

sup, sub {
  font-size: 83%; }

pre, code, kbd, samp {
  font-family: inherit; }

q:before, q:after {
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

label, summary {
  cursor: default; }

a, button {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold; }

del, ins, u, s, a, a:hover {
  text-decoration: none; }

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 arial, \5b8b\4f53;
  color: #333;
  outline: 0; }

body {
  background: #fff; }

a, a:hover {
  color: #333; }

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-taobao:before {
  content: "\e64f"; }

.icon-yingdaicon09:before {
  content: "\e648"; }

.icon-yingdaicon10:before {
  content: "\e649"; }

.icon-yingdaicon07:before {
  content: "\e646"; }

.icon-yingdaicon08:before {
  content: "\e647"; }

.icon-yingdaicon05:before {
  content: "\e644"; }

.icon-yingdaicon03:before {
  content: "\e642"; }

.icon-yingdaicon04:before {
  content: "\e643"; }

.m-main1-cy {
  position: relative;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 200px;
  background: #333333; }
  .m-main1-cy .con {
    margin: 0 auto;
    width: 30%; }
    @media (max-width: 1300px) {
      .m-main1-cy .con {
        width: 50%; } }
    @media (max-width: 768px) {
      .m-main1-cy .con {
        width: 80%; } }
    .m-main1-cy .con .title .myd {
      padding-top: 72px;
      padding-bottom: 32px;
      border-bottom: 1px solid #ffe3cd;
      text-align: center;
      color: #ffe3cd; }
    .m-main1-cy .con .title p {
      visibility: hidden; }
    .m-main1-cy .con .title .war {
      visibility: visible;
      padding-top: 6px;
      margin-bottom: -20px;
      font-size: 12px;
      color: #e60012;
      font-family: "宋体"; }
    .m-main1-cy .con .login-form {
      padding-top: 61px; }
      .m-main1-cy .con .login-form .form-group {
        margin-bottom: 25px;
        position: relative; }
        .m-main1-cy .con .login-form .form-group label {
          margin-bottom: 6px;
          display: block;
          font-size: 16px;
          color: #ffe3cd;
          font-family: "宋体";
          font-weight: normal; }
        .m-main1-cy .con .login-form .form-group .form-control {
          height: 38px;
          width: 100%;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857;
          background-image: url(about:blank);
          background-color: transparent;
          border: 1px solid #ffe3cd;
          color: #ffe3cd; }
        .m-main1-cy .con .login-form .form-group p {
          position: absolute;
          right: 0;
          bottom: -18px;
          visibility: hidden; }
      .m-main1-cy .con .login-form .warning .form-control {
        border: 1px solid #ff0000; }
      .m-main1-cy .con .login-form .warning p {
        visibility: visible;
        text-align: right;
        font-family: "宋体";
        font-size: 12px;
        color: #e60012; }
      .m-main1-cy .con .login-form .fpwd a {
        display: block;
        padding-bottom: 7px;
        border-bottom: 1px solid #ffe3cd;
        font-size: 16px;
        color: #ffe3cd;
        font-family: "宋体";
        font-weight: normal; }
        .m-main1-cy .con .login-form .fpwd a:hover {
          color: #44332c; }
      .m-main1-cy .con .login-form .button {
        margin-top: 13px; }
        .m-main1-cy .con .login-form .button button {
          padding-top: 10px;
          padding-bottom: 10px;
          width: 100%;
          background: #44332c;
          border: none;
          color: #ffe3cd;
          font-size: 18px;
          outline: none; }
          .m-main1-cy .con .login-form .button button:hover {
            color: #714e38; }
    .m-main1-cy .con .reg {
      padding-top: 32px; }
      .m-main1-cy .con .reg .reg-label {
        margin-bottom: 13px;
        font-size: 16px;
        color: #ffe3cd;
        font-family: "宋体";
        font-weight: normal; }
      .m-main1-cy .con .reg .button .btn {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        background: #44332c;
        border: none;
        color: #ffe3cd;
        font-size: 18px;
        outline: none; }
    .m-main1-cy .con .social-login {
      padding-top: 32px; }
      .m-main1-cy .con .social-login h3 {
        padding-bottom: 7px;
        font-size: 16px;
        color: #ffe3cd;
        font-family: "宋体";
        font-weight: normal;
        border-bottom: 1px solid #ffe3cd; }
      .m-main1-cy .con .social-login .social-list {
        margin-top: 20px; }
        .m-main1-cy .con .social-login .social-list a {
          display: inline-block; }
        .m-main1-cy .con .social-login .social-list a span {
          padding-right: 30px;
          display: inline-block;
          font-size: 30px;
          color: #ffe3cd;
          font-family: iconfont; }
        .m-main1-cy .con .social-login .social-list a:hover span {
          color: #44332c; }

/*# sourceMappingURL=main.css.map */
