.header{width:100%; height:38px; background: #e6e7e9;
  .log{margin:0 auto; width: 1120px;   height: 38px; line-height: 38px; font-size:14px; font-weight: normal; text-align: right;
    a{display: block; height: 38px;}}
}
.pop-up{ display: none;
  .pop_bg{ position: fixed;  top: 0; left: 0; width: 100%; height: 100%; background:#000; z-index: 0;opacity: 0.618;;}
  .pop_log{ position:absolute;left:50%;top:50%;  margin-left: -218px;margin-top: -305px;  width:436px; overflow: hidden; z-index:100;background-image:-webkit-linear-gradient(top, #fff,#fdfefe,#f1f1f1);background-image:-moz-linear-gradient(top, #fff,#fdfefe,#f1f1f1);background-image:linear-gradient(top, #fff,#fdfefe,#f1f1f1); -moz-border-radius: 13px 13px 13px 13px;-webkit-border-radius: 13px 13px 13px 13px;border-radius: 13px 13px 13px 13px;
    .head{position:relative;height:62px;width: 100%;background: url(../images/head_bg.png)repeat-x;&:before,&:after{display: table;content: "";} &:after{clear: both;} -moz-border-radius: 13px 13px 0 0;-webkit-border-radius: 13px 13px 0 0;border-radius: 13px 13px 0 0;-moz-box-shadow: 0 2px 6px #d1d1d1;-webkit-box-shadow: 0 2px 6px #d1d1d1;box-shadow: 0 2px 6px #d1d1d1;
      h2{float: left;padding-left: 20px; height:62px;line-height:62px;font-size: 20px;font-weight: 400;color: #666;}
      .close{ display: block;position: absolute; padding: 4px 5px;overflow: hidden; right: 17px;top: 18px;z-index: 20;width: 16px;height: 17px;background: url(../images/ui-p.png) no-repeat -16px -16px; cursor: pointer;
        -webkit-transition: all .3s linear;-moz-transition: all .3s linear; -o-transition: all .3s linear;transition: all .3s linear;opacity:0.6; filter:alpha(opacity=60);
        &:hover{opacity:1; filter:alpha(opacity=100);}
      }
    }
    .form{padding-top: 10px;
      .item_wrap{margin: 10px auto 0; width:372px;height:48px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
        .item{ background:#f9f9f9;position: relative; height: 46px; line-height:46px;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
          .icon{display: block; float:left;width: 48px;height: 45px;background: url(../images/dialog-input-icons.png) no-repeat;border-right: #ccc solid 1px;}
          .psd{background-position: -48px 0;}
          .form_input{display:inline-block; height:27px;z-index: 3;width: 290px; padding: 0 13px 0 17px;border: 0;font-size: 18px;color: #333; background-color:none;background-color:transparent;background-image: url(about:black);  }
          i{position: absolute;left: 65px; top:-2px; font-style: normal;font-size: 18px; color: #333;}
          .warning{display: none; position: absolute; right: 11px;top: 11px;padding: 0 9px;background: #80a4e5;border-radius: 5px;line-height: 25px; font-size: 12px; font-weight: 400; color: #fff; opacity: 1;z-index: 10;}
        }
        .blur_border{border:1px solid #ccc;}
        .re_psd{i{left:20px;}}
      }
      .focus_border{border:1px solid #9cbaef;}
      .btn { border: none;margin: 26px auto 0;
        .item{/* border: 1px solid #9cbaef;*/box-shadow: inset 0 1px 3px #92b6ec/*,inset 0 0 2px #627dca,inset 0 -2px 3px #4c69b8*/;
          .button_log,.button_reg{ background:url(../images/ui-p.png) no-repeat; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;color:#fff; font-size:18px;width: 100%;height: 46px; cursor: pointer; }
          .button_log{ /*background:url(../images/ui-p.png);*/background-position:-24px -340px; }
          .button_reg{background-position:-24px -496px; }
        }
      }
      .btn_reg{margin-bottom: 20px;}
      .xinxi{margin: 0 auto;width:376px;
        a{display:inline-block; line-height: 38px; width: 100%;text-align: right; color:#84a3e3; }
        }
    }
  }
}